@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
.container:nth-child(1) {
  top: 7%;
  left: 9%;
  -webkit-animation: movement 4.4s linear infinite;
          animation: movement 4.4s linear infinite;
}

@-webkit-keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(24%) translateY(10%);
            transform: translateX(24%) translateY(10%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(24%) translateY(10%);
            transform: translateX(24%) translateY(10%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(2) {
  top: 29%;
  left: 23%;
  -webkit-animation: movement 2.5s linear infinite;
          animation: movement 2.5s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(40%) translateY(14%);
            transform: translateX(40%) translateY(14%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(3) {
  top: 29%;
  left: 23%;
  -webkit-animation: movement 5.7s linear infinite;
          animation: movement 5.7s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(19%) translateY(10%);
            transform: translateX(19%) translateY(10%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(4) {
  top: 37%;
  left: 25%;
  -webkit-animation: movement 6s linear infinite;
          animation: movement 6s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(18%) translateY(10%);
            transform: translateX(18%) translateY(10%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(5) {
  top: 15%;
  left: 55%;
  -webkit-animation: movement 5.8s linear infinite;
          animation: movement 5.8s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(90%) translateY(10%);
            transform: translateX(90%) translateY(10%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(6) {
  top: 95%;
  left: 29%;
  -webkit-animation: movement 1.3s linear infinite;
          animation: movement 1.3s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(88%) translateY(4%);
            transform: translateX(88%) translateY(4%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(7) {
  top: 117%;
  left: 54%;
  -webkit-animation: movement 2s linear infinite;
          animation: movement 2s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(101%) translateY(17%);
            transform: translateX(101%) translateY(17%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(8) {
  top: 125%;
  left: 13%;
  -webkit-animation: movement 5.9s linear infinite;
          animation: movement 5.9s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(98%) translateY(34%);
            transform: translateX(98%) translateY(34%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(9) {
  top: 158%;
  left: 77%;
  -webkit-animation: movement 3.8s linear infinite;
          animation: movement 3.8s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(163%) translateY(37%);
            transform: translateX(163%) translateY(37%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(10) {
  top: 105%;
  left: 45%;
  -webkit-animation: movement 5s linear infinite;
          animation: movement 5s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(130%) translateY(30%);
            transform: translateX(130%) translateY(30%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(11) {
  top: 38%;
  left: 104%;
  -webkit-animation: movement 5.1s linear infinite;
          animation: movement 5.1s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(142%) translateY(-1%);
            transform: translateX(142%) translateY(-1%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(12) {
  top: 161%;
  left: 53%;
  -webkit-animation: movement 4.2s linear infinite;
          animation: movement 4.2s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(130%) translateY(-14%);
            transform: translateX(130%) translateY(-14%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(13) {
  top: 122%;
  left: 57%;
  -webkit-animation: movement 4.1s linear infinite;
          animation: movement 4.1s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(153%) translateY(49%);
            transform: translateX(153%) translateY(49%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(14) {
  top: 145%;
  left: 47%;
  -webkit-animation: movement 1.9s linear infinite;
          animation: movement 1.9s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(206%) translateY(24%);
            transform: translateX(206%) translateY(24%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(15) {
  top: 200%;
  left: 140%;
  -webkit-animation: movement 4.6s linear infinite;
          animation: movement 4.6s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(100%) translateY(55%);
            transform: translateX(100%) translateY(55%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(16) {
  top: 37%;
  left: 149%;
  -webkit-animation: movement 2.5s linear infinite;
          animation: movement 2.5s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(26%) translateY(26%);
            transform: translateX(26%) translateY(26%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(17) {
  top: 39%;
  left: 39%;
  -webkit-animation: movement 5.6s linear infinite;
          animation: movement 5.6s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(112%) translateY(-41%);
            transform: translateX(112%) translateY(-41%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(18) {
  top: 329%;
  left: 113%;
  -webkit-animation: movement 1.4s linear infinite;
          animation: movement 1.4s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(316%) translateY(-26%);
            transform: translateX(316%) translateY(-26%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(19) {
  top: 347%;
  left: 24%;
  -webkit-animation: movement 6.1s linear infinite;
          animation: movement 6.1s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(124%) translateY(48%);
            transform: translateX(124%) translateY(48%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(20) {
  top: 285%;
  left: 105%;
  -webkit-animation: movement 7.5s linear infinite;
          animation: movement 7.5s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(170%) translateY(50%);
            transform: translateX(170%) translateY(50%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(21) {
  top: 152%;
  left: 215%;
  -webkit-animation: movement 1.8s linear infinite;
          animation: movement 1.8s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(388%) translateY(10%);
            transform: translateX(388%) translateY(10%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(22) {
  top: 159%;
  left: 93%;
  -webkit-animation: movement 5.4s linear infinite;
          animation: movement 5.4s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(164%) translateY(76%);
            transform: translateX(164%) translateY(76%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(23) {
  top: 120%;
  left: 189%;
  -webkit-animation: movement 6s linear infinite;
          animation: movement 6s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(378%) translateY(33%);
            transform: translateX(378%) translateY(33%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(24) {
  top: 269%;
  left: 77%;
  -webkit-animation: movement 4.9s linear infinite;
          animation: movement 4.9s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(442%) translateY(106%);
            transform: translateX(442%) translateY(106%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(25) {
  top: 30%;
  left: 130%;
  -webkit-animation: movement 2.3s linear infinite;
          animation: movement 2.3s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(335%) translateY(10%);
            transform: translateX(335%) translateY(10%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(26) {
  top: 213%;
  left: 31%;
  -webkit-animation: movement 6.9s linear infinite;
          animation: movement 6.9s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(452%) translateY(10%);
            transform: translateX(452%) translateY(10%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(27) {
  top: 356%;
  left: 248%;
  -webkit-animation: movement 4.6s linear infinite;
          animation: movement 4.6s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(280%) translateY(-71%);
            transform: translateX(280%) translateY(-71%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(28) {
  top: 89%;
  left: 229%;
  -webkit-animation: movement 2.6s linear infinite;
          animation: movement 2.6s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(458%) translateY(10%);
            transform: translateX(458%) translateY(10%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(29) {
  top: 266%;
  left: 208%;
  -webkit-animation: movement 2.3s linear infinite;
          animation: movement 2.3s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(97%) translateY(10%);
            transform: translateX(97%) translateY(10%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(30) {
  top: 515%;
  left: 275%;
  -webkit-animation: movement 3.1s linear infinite;
          animation: movement 3.1s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(280%) translateY(130%);
            transform: translateX(280%) translateY(130%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(31) {
  top: 501%;
  left: 253%;
  -webkit-animation: movement 4s linear infinite;
          animation: movement 4s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(289%) translateY(-83%);
            transform: translateX(289%) translateY(-83%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(32) {
  top: 133%;
  left: 325%;
  -webkit-animation: movement 6.9s linear infinite;
          animation: movement 6.9s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(42%) translateY(10%);
            transform: translateX(42%) translateY(10%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(33) {
  top: 203%;
  left: 170%;
  -webkit-animation: movement 6.5s linear infinite;
          animation: movement 6.5s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(142%) translateY(43%);
            transform: translateX(142%) translateY(43%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(34) {
  top: 175%;
  left: 141%;
  -webkit-animation: movement 6s linear infinite;
          animation: movement 6s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(350%) translateY(78%);
            transform: translateX(350%) translateY(78%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(35) {
  top: 215%;
  left: 250%;
  -webkit-animation: movement 6s linear infinite;
          animation: movement 6s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(360%) translateY(45%);
            transform: translateX(360%) translateY(45%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(36) {
  top: 257%;
  left: 329%;
  -webkit-animation: movement 4.8s linear infinite;
          animation: movement 4.8s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(82%) translateY(-62%);
            transform: translateX(82%) translateY(-62%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(37) {
  top: 116%;
  left: 264%;
  -webkit-animation: movement 3.7s linear infinite;
          animation: movement 3.7s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(602%) translateY(-64%);
            transform: translateX(602%) translateY(-64%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(38) {
  top: 385%;
  left: 195%;
  -webkit-animation: movement 2.2s linear infinite;
          animation: movement 2.2s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(618%) translateY(48%);
            transform: translateX(618%) translateY(48%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(39) {
  top: 239%;
  left: 239%;
  -webkit-animation: movement 4.6s linear infinite;
          animation: movement 4.6s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(634%) translateY(-68%);
            transform: translateX(634%) translateY(-68%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(40) {
  top: 165%;
  left: 85%;
  -webkit-animation: movement 2.9s linear infinite;
          animation: movement 2.9s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(450%) translateY(-30%);
            transform: translateX(450%) translateY(-30%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(41) {
  top: 743%;
  left: 128%;
  -webkit-animation: movement 5.5s linear infinite;
          animation: movement 5.5s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(174%) translateY(133%);
            transform: translateX(174%) translateY(133%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(42) {
  top: 89%;
  left: 89%;
  -webkit-animation: movement 2.8s linear infinite;
          animation: movement 2.8s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(556%) translateY(52%);
            transform: translateX(556%) translateY(52%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(43) {
  top: 650%;
  left: 134%;
  -webkit-animation: movement 3.2s linear infinite;
          animation: movement 3.2s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(440%) translateY(-33%);
            transform: translateX(440%) translateY(-33%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(44) {
  top: 533%;
  left: 181%;
  -webkit-animation: movement 1.8s linear infinite;
          animation: movement 1.8s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(582%) translateY(54%);
            transform: translateX(582%) translateY(54%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(45) {
  top: 365%;
  left: 140%;
  -webkit-animation: movement 5.6s linear infinite;
          animation: movement 5.6s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(595%) translateY(10%);
            transform: translateX(595%) translateY(10%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(46) {
  top: 327%;
  left: 235%;
  -webkit-animation: movement 4.1s linear infinite;
          animation: movement 4.1s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(838%) translateY(10%);
            transform: translateX(838%) translateY(10%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(47) {
  top: 475%;
  left: 193%;
  -webkit-animation: movement 3.2s linear infinite;
          animation: movement 3.2s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(245%) translateY(151%);
            transform: translateX(245%) translateY(151%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(48) {
  top: 533%;
  left: 485%;
  -webkit-animation: movement 6.2s linear infinite;
          animation: movement 6.2s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(538%) translateY(10%);
            transform: translateX(538%) translateY(10%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(49) {
  top: 691%;
  left: 152%;
  -webkit-animation: movement 2.4s linear infinite;
          animation: movement 2.4s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(549%) translateY(-137%);
            transform: translateX(549%) translateY(-137%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(50) {
  top: 655%;
  left: 455%;
  -webkit-animation: movement 6s linear infinite;
          animation: movement 6s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(910%) translateY(-90%);
            transform: translateX(910%) translateY(-90%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(51) {
  top: 260%;
  left: 311%;
  -webkit-animation: movement 2.3s linear infinite;
          animation: movement 2.3s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(520%) translateY(163%);
            transform: translateX(520%) translateY(163%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(52) {
  top: 109%;
  left: 473%;
  -webkit-animation: movement 1.1s linear infinite;
          animation: movement 1.1s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(322%) translateY(-42%);
            transform: translateX(322%) translateY(-42%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(53) {
  top: 959%;
  left: 217%;
  -webkit-animation: movement 5.6s linear infinite;
          animation: movement 5.6s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(487%) translateY(10%);
            transform: translateX(487%) translateY(10%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(54) {
  top: 761%;
  left: 545%;
  -webkit-animation: movement 4.8s linear infinite;
          animation: movement 4.8s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(64%) translateY(64%);
            transform: translateX(64%) translateY(64%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(55) {
  top: 280%;
  left: 60%;
  -webkit-animation: movement 7.4s linear infinite;
          animation: movement 7.4s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(175%) translateY(10%);
            transform: translateX(175%) translateY(10%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(56) {
  top: 1013%;
  left: 285%;
  -webkit-animation: movement 3.1s linear infinite;
          animation: movement 3.1s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(962%) translateY(10%);
            transform: translateX(962%) translateY(10%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(57) {
  top: 518%;
  left: 290%;
  -webkit-animation: movement 2.2s linear infinite;
          animation: movement 2.2s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(637%) translateY(67%);
            transform: translateX(637%) translateY(67%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(58) {
  top: 701%;
  left: 63%;
  -webkit-animation: movement 3.6s linear infinite;
          animation: movement 3.6s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(416%) translateY(126%);
            transform: translateX(416%) translateY(126%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(59) {
  top: 182%;
  left: 241%;
  -webkit-animation: movement 1.9s linear infinite;
          animation: movement 1.9s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(659%) translateY(-49%);
            transform: translateX(659%) translateY(-49%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(60) {
  top: 665%;
  left: 185%;
  -webkit-animation: movement 4.7s linear infinite;
          animation: movement 4.7s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(490%) translateY(130%);
            transform: translateX(490%) translateY(130%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(61) {
  top: 493%;
  left: 554%;
  -webkit-animation: movement 4.7s linear infinite;
          animation: movement 4.7s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(376%) translateY(254%);
            transform: translateX(376%) translateY(254%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(62) {
  top: 811%;
  left: 129%;
  -webkit-animation: movement 4.3s linear infinite;
          animation: movement 4.3s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(382%) translateY(72%);
            transform: translateX(382%) translateY(72%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(63) {
  top: 320%;
  left: 257%;
  -webkit-animation: movement 5.2s linear infinite;
          animation: movement 5.2s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(136%) translateY(199%);
            transform: translateX(136%) translateY(199%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(64) {
  top: 197%;
  left: 389%;
  -webkit-animation: movement 2.7s linear infinite;
          animation: movement 2.7s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(970%) translateY(-54%);
            transform: translateX(970%) translateY(-54%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(65) {
  top: 590%;
  left: 265%;
  -webkit-animation: movement 2.4s linear infinite;
          animation: movement 2.4s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(790%) translateY(205%);
            transform: translateX(790%) translateY(205%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(66) {
  top: 1127%;
  left: 533%;
  -webkit-animation: movement 2.9s linear infinite;
          animation: movement 2.9s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(538%) translateY(76%);
            transform: translateX(538%) translateY(76%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(67) {
  top: 273%;
  left: 72%;
  -webkit-animation: movement 5.1s linear infinite;
          animation: movement 5.1s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(881%) translateY(278%);
            transform: translateX(881%) translateY(278%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(68) {
  top: 141%;
  left: 141%;
  -webkit-animation: movement 2.9s linear infinite;
          animation: movement 2.9s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(622%) translateY(-126%);
            transform: translateX(622%) translateY(-126%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(69) {
  top: 1109%;
  left: 695%;
  -webkit-animation: movement 5.8s linear infinite;
          animation: movement 5.8s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(631%) translateY(-128%);
            transform: translateX(631%) translateY(-128%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(70) {
  top: 565%;
  left: 635%;
  -webkit-animation: movement 5.8s linear infinite;
          animation: movement 5.8s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(150%) translateY(220%);
            transform: translateX(150%) translateY(220%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(71) {
  top: 502%;
  left: 76%;
  -webkit-animation: movement 5.3s linear infinite;
          animation: movement 5.3s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(862%) translateY(223%);
            transform: translateX(862%) translateY(223%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(72) {
  top: 1013%;
  left: 293%;
  -webkit-animation: movement 2.6s linear infinite;
          animation: movement 2.6s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(874%) translateY(-62%);
            transform: translateX(874%) translateY(-62%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(73) {
  top: 1100%;
  left: 443%;
  -webkit-animation: movement 3.2s linear infinite;
          animation: movement 3.2s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(886%) translateY(10%);
            transform: translateX(886%) translateY(10%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(74) {
  top: 597%;
  left: 597%;
  -webkit-animation: movement 3.2s linear infinite;
          animation: movement 3.2s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(1342%) translateY(84%);
            transform: translateX(1342%) translateY(84%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(75) {
  top: 680%;
  left: 605%;
  -webkit-animation: movement 6.5s linear infinite;
          animation: movement 6.5s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(460%) translateY(10%);
            transform: translateX(460%) translateY(10%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(76) {
  top: 309%;
  left: 689%;
  -webkit-animation: movement 5.6s linear infinite;
          animation: movement 5.6s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(542%) translateY(10%);
            transform: translateX(542%) translateY(10%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(77) {
  top: 82%;
  left: 159%;
  -webkit-animation: movement 6.7s linear infinite;
          animation: movement 6.7s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(87%) translateY(-144%);
            transform: translateX(87%) translateY(-144%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(78) {
  top: 551%;
  left: 317%;
  -webkit-animation: movement 2.4s linear infinite;
          animation: movement 2.4s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(868%) translateY(166%);
            transform: translateX(868%) translateY(166%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(79) {
  top: 84%;
  left: 321%;
  -webkit-animation: movement 5.8s linear infinite;
          animation: movement 5.8s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(1274%) translateY(168%);
            transform: translateX(1274%) translateY(168%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(80) {
  top: 965%;
  left: 725%;
  -webkit-animation: movement 3.1s linear infinite;
          animation: movement 3.1s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(1130%) translateY(-70%);
            transform: translateX(1130%) translateY(-70%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(81) {
  top: 1220%;
  left: 167%;
  -webkit-animation: movement 3.7s linear infinite;
          animation: movement 3.7s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(334%) translateY(91%);
            transform: translateX(334%) translateY(91%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(82) {
  top: 1317%;
  left: 333%;
  -webkit-animation: movement 2.2s linear infinite;
          animation: movement 2.2s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(1240%) translateY(174%);
            transform: translateX(1240%) translateY(174%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(83) {
  top: 88%;
  left: 337%;
  -webkit-animation: movement 4.9s linear infinite;
          animation: movement 4.9s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(508%) translateY(10%);
            transform: translateX(508%) translateY(10%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(84) {
  top: 257%;
  left: 173%;
  -webkit-animation: movement 2.9s linear infinite;
          animation: movement 2.9s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(1186%) translateY(94%);
            transform: translateX(1186%) translateY(94%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(85) {
  top: 1280%;
  left: 515%;
  -webkit-animation: movement 3.9s linear infinite;
          animation: movement 3.9s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(1540%) translateY(10%);
            transform: translateX(1540%) translateY(10%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(86) {
  top: 1553%;
  left: 521%;
  -webkit-animation: movement 4s linear infinite;
          animation: movement 4s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(1472%) translateY(96%);
            transform: translateX(1472%) translateY(96%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(87) {
  top: 701%;
  left: 179%;
  -webkit-animation: movement 6.8s linear infinite;
          animation: movement 6.8s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(619%) translateY(184%);
            transform: translateX(619%) translateY(184%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(88) {
  top: 269%;
  left: 269%;
  -webkit-animation: movement 4.9s linear infinite;
          animation: movement 4.9s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(98%) translateY(186%);
            transform: translateX(98%) translateY(186%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(89) {
  top: 717%;
  left: 539%;
  -webkit-animation: movement 1.3s linear infinite;
          animation: movement 1.3s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(366%) translateY(-79%);
            transform: translateX(366%) translateY(-79%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(90) {
  top: 1445%;
  left: 275%;
  -webkit-animation: movement 3.6s linear infinite;
          animation: movement 3.6s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(820%) translateY(10%);
            transform: translateX(820%) translateY(10%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(91) {
  top: 1370%;
  left: 915%;
  -webkit-animation: movement 4.4s linear infinite;
          animation: movement 4.4s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(101%) translateY(-81%);
            transform: translateX(101%) translateY(-81%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(92) {
  top: 1477%;
  left: 373%;
  -webkit-animation: movement 3.8s linear infinite;
          animation: movement 3.8s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(1666%) translateY(-266%);
            transform: translateX(1666%) translateY(-266%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(93) {
  top: 1400%;
  left: 191%;
  -webkit-animation: movement 2.4s linear infinite;
          animation: movement 2.4s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(940%) translateY(-176%);
            transform: translateX(940%) translateY(-176%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(94) {
  top: 663%;
  left: 663%;
  -webkit-animation: movement 5s linear infinite;
          animation: movement 5s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(856%) translateY(10%);
            transform: translateX(856%) translateY(10%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(95) {
  top: 480%;
  left: 290%;
  -webkit-animation: movement 5.9s linear infinite;
          animation: movement 5.9s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(1245%) translateY(10%);
            transform: translateX(1245%) translateY(10%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(96) {
  top: 581%;
  left: 197%;
  -webkit-animation: movement 2.6s linear infinite;
          animation: movement 2.6s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(1450%) translateY(-182%);
            transform: translateX(1450%) translateY(-182%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(97) {
  top: 684%;
  left: 490%;
  -webkit-animation: movement 1.4s linear infinite;
          animation: movement 1.4s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(204%) translateY(-184%);
            transform: translateX(204%) translateY(-184%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(98) {
  top: 1181%;
  left: 397%;
  -webkit-animation: movement 3.4s linear infinite;
          animation: movement 3.4s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(1382%) translateY(108%);
            transform: translateX(1382%) translateY(108%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(99) {
  top: 1094%;
  left: 500%;
  -webkit-animation: movement 2s linear infinite;
          animation: movement 2s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(208%) translateY(10%);
            transform: translateX(208%) translateY(10%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

body {
  background: rgba(0, 0, 0, 0.048);
  font-family: 'Open Sans', sans-serif;
}

body #restart-button {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 100;
  padding: 1% 2%;
  font-size: 2em;
}

body #restart-button.hide {
  display: none;
}

body h1 {
  text-align: center;
  font-size: 5em;
  opacity: 0.3;
}

form {
  z-index: 5;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 10%;
  font-size: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

form.hide {
  display: none;
}

form label,
form select,
form input,
form button {
  margin-bottom: 20px;
}

form select,
form input,
form button {
  width: 200px;
  padding: 5% 2%;
  font-size: 1em;
  outline: none;
}

form select {
  border: none;
}

.cage {
  position: relative;
  height: 800px;
  width: 1600px;
  background: transparent;
  margin: 240px auto;
  border-radius: 30px;
  cursor: pointer;
}

.cage .container {
  position: absolute;
}

.cage .container .ball {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  position: relative;
  -webkit-animation: balling 0.6s linear infinite;
          animation: balling 0.6s linear infinite;
}

.cage .container .shadow {
  height: 80px;
  width: 80px;
  position: absolute;
  top: 0%;
  border-radius: 50%;
  -webkit-box-shadow: 0px 120px 50px #3333331e;
          box-shadow: 0px 120px 50px #3333331e;
  -webkit-animation: shadowing 0.6s linear infinite;
          animation: shadowing 0.6s linear infinite;
}

@-webkit-keyframes balling {
  0% {
    -webkit-transform: translateY(0px) rotate(180deg);
            transform: translateY(0px) rotate(180deg);
  }
  50% {
    -webkit-transform: translateY(100px) rotate(360deg);
            transform: translateY(100px) rotate(360deg);
  }
  100% {
    -webkit-transform: translateY(0px) rotate(540deg);
            transform: translateY(0px) rotate(540deg);
  }
}

@keyframes balling {
  0% {
    -webkit-transform: translateY(0px) rotate(180deg);
            transform: translateY(0px) rotate(180deg);
  }
  50% {
    -webkit-transform: translateY(100px) rotate(360deg);
            transform: translateY(100px) rotate(360deg);
  }
  100% {
    -webkit-transform: translateY(0px) rotate(540deg);
            transform: translateY(0px) rotate(540deg);
  }
}

@-webkit-keyframes shadowing {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
    -webkit-box-shadow: 0px 10px 5px #33333332;
            box-shadow: 0px 10px 5px #33333332;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes shadowing {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
    -webkit-box-shadow: 0px 10px 5px #33333332;
            box-shadow: 0px 10px 5px #33333332;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
/*# sourceMappingURL=style.css.map */