.container:nth-child(1) {
  top: 18%;
  left: 6%;
  -webkit-animation: movement 3s linear infinite;
          animation: movement 3s linear infinite;
}

@-webkit-keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(22%) translateY(10%);
            transform: translateX(22%) translateY(10%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(22%) translateY(10%);
            transform: translateX(22%) translateY(10%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(2) {
  top: 11%;
  left: 21%;
  -webkit-animation: movement 3.2s linear infinite;
          animation: movement 3.2s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(34%) translateY(12%);
            transform: translateX(34%) translateY(12%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(3) {
  top: 11%;
  left: 14%;
  -webkit-animation: movement 4.2s linear infinite;
          animation: movement 4.2s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(22%) translateY(10%);
            transform: translateX(22%) translateY(10%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(4) {
  top: 41%;
  left: 25%;
  -webkit-animation: movement 1.7s linear infinite;
          animation: movement 1.7s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(54%) translateY(14%);
            transform: translateX(54%) translateY(14%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(5) {
  top: 30%;
  left: 55%;
  -webkit-animation: movement 3.8s linear infinite;
          animation: movement 3.8s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(80%) translateY(10%);
            transform: translateX(80%) translateY(10%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(6) {
  top: 65%;
  left: 59%;
  -webkit-animation: movement 5.5s linear infinite;
          animation: movement 5.5s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(94%) translateY(4%);
            transform: translateX(94%) translateY(4%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(7) {
  top: 12%;
  left: 12%;
  -webkit-animation: movement 4.8s linear infinite;
          animation: movement 4.8s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(31%) translateY(17%);
            transform: translateX(31%) translateY(17%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(8) {
  top: 13%;
  left: 13%;
  -webkit-animation: movement 4.4s linear infinite;
          animation: movement 4.4s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(154%) translateY(2%);
            transform: translateX(154%) translateY(2%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(9) {
  top: 131%;
  left: 23%;
  -webkit-animation: movement 4.8s linear infinite;
          animation: movement 4.8s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(19%) translateY(19%);
            transform: translateX(19%) translateY(19%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(10) {
  top: 35%;
  left: 65%;
  -webkit-animation: movement 5.6s linear infinite;
          animation: movement 5.6s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(160%) translateY(40%);
            transform: translateX(160%) translateY(40%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(11) {
  top: 159%;
  left: 71%;
  -webkit-animation: movement 2.7s linear infinite;
          animation: movement 2.7s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(142%) translateY(-1%);
            transform: translateX(142%) translateY(-1%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(12) {
  top: 65%;
  left: 101%;
  -webkit-animation: movement 4.7s linear infinite;
          animation: movement 4.7s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(46%) translateY(-26%);
            transform: translateX(46%) translateY(-26%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(13) {
  top: 135%;
  left: 109%;
  -webkit-animation: movement 3.2s linear infinite;
          animation: movement 3.2s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(166%) translateY(62%);
            transform: translateX(166%) translateY(62%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(14) {
  top: 201%;
  left: 145%;
  -webkit-animation: movement 5.2s linear infinite;
          animation: movement 5.2s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(94%) translateY(10%);
            transform: translateX(94%) translateY(10%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(15) {
  top: 50%;
  left: 50%;
  -webkit-animation: movement 1.7s linear infinite;
          animation: movement 1.7s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(115%) translateY(25%);
            transform: translateX(115%) translateY(25%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(16) {
  top: 245%;
  left: 69%;
  -webkit-animation: movement 4s linear infinite;
          animation: movement 4s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(42%) translateY(10%);
            transform: translateX(42%) translateY(10%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(17) {
  top: 56%;
  left: 56%;
  -webkit-animation: movement 4.3s linear infinite;
          animation: movement 4.3s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(231%) translateY(78%);
            transform: translateX(231%) translateY(78%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(18) {
  top: 113%;
  left: 95%;
  -webkit-animation: movement 2.4s linear infinite;
          animation: movement 2.4s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(118%) translateY(46%);
            transform: translateX(118%) translateY(46%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(19) {
  top: 328%;
  left: 100%;
  -webkit-animation: movement 4.8s linear infinite;
          animation: movement 4.8s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(257%) translateY(10%);
            transform: translateX(257%) translateY(10%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(20) {
  top: 225%;
  left: 65%;
  -webkit-animation: movement 4s linear infinite;
          animation: movement 4s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(210%) translateY(-50%);
            transform: translateX(210%) translateY(-50%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(21) {
  top: 173%;
  left: 89%;
  -webkit-animation: movement 2.9s linear infinite;
          animation: movement 2.9s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(73%) translateY(73%);
            transform: translateX(73%) translateY(73%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(22) {
  top: 49%;
  left: 137%;
  -webkit-animation: movement 4.2s linear infinite;
          animation: movement 4.2s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(230%) translateY(-12%);
            transform: translateX(230%) translateY(-12%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(23) {
  top: 373%;
  left: 51%;
  -webkit-animation: movement 3.3s linear infinite;
          animation: movement 3.3s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(378%) translateY(-36%);
            transform: translateX(378%) translateY(-36%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(24) {
  top: 173%;
  left: 29%;
  -webkit-animation: movement 4.3s linear infinite;
          animation: movement 4.3s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(178%) translateY(34%);
            transform: translateX(178%) translateY(34%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(25) {
  top: 130%;
  left: 205%;
  -webkit-animation: movement 3.9s linear infinite;
          animation: movement 3.9s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(35%) translateY(35%);
            transform: translateX(35%) translateY(35%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(26) {
  top: 57%;
  left: 109%;
  -webkit-animation: movement 6s linear infinite;
          animation: movement 6s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(218%) translateY(-16%);
            transform: translateX(218%) translateY(-16%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(27) {
  top: 491%;
  left: 32%;
  -webkit-animation: movement 6.2s linear infinite;
          animation: movement 6.2s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(415%) translateY(-44%);
            transform: translateX(415%) translateY(-44%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(28) {
  top: 229%;
  left: 173%;
  -webkit-animation: movement 5.1s linear infinite;
          animation: movement 5.1s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(206%) translateY(94%);
            transform: translateX(206%) translateY(94%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(29) {
  top: 498%;
  left: 237%;
  -webkit-animation: movement 5.2s linear infinite;
          animation: movement 5.2s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(97%) translateY(39%);
            transform: translateX(97%) translateY(39%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(30) {
  top: 275%;
  left: 275%;
  -webkit-animation: movement 4.5s linear infinite;
          animation: movement 4.5s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(160%) translateY(40%);
            transform: translateX(160%) translateY(40%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(31) {
  top: 129%;
  left: 253%;
  -webkit-animation: movement 1.3s linear infinite;
          animation: movement 1.3s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(537%) translateY(72%);
            transform: translateX(537%) translateY(72%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(32) {
  top: 293%;
  left: 197%;
  -webkit-animation: movement 4.1s linear infinite;
          animation: movement 4.1s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(330%) translateY(10%);
            transform: translateX(330%) translateY(10%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(33) {
  top: 599%;
  left: 170%;
  -webkit-animation: movement 2.6s linear infinite;
          animation: movement 2.6s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(142%) translateY(142%);
            transform: translateX(142%) translateY(142%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(34) {
  top: 39%;
  left: 209%;
  -webkit-animation: movement 4.3s linear infinite;
          animation: movement 4.3s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(282%) translateY(10%);
            transform: translateX(282%) translateY(10%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(35) {
  top: 145%;
  left: 40%;
  -webkit-animation: movement 1.7s linear infinite;
          animation: movement 1.7s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(45%) translateY(150%);
            transform: translateX(45%) translateY(150%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(36) {
  top: 365%;
  left: 221%;
  -webkit-animation: movement 5.9s linear infinite;
          animation: movement 5.9s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(658%) translateY(10%);
            transform: translateX(658%) translateY(10%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(37) {
  top: 560%;
  left: 153%;
  -webkit-animation: movement 5.1s linear infinite;
          animation: movement 5.1s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(417%) translateY(158%);
            transform: translateX(417%) translateY(158%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(38) {
  top: 461%;
  left: 43%;
  -webkit-animation: movement 4.1s linear infinite;
          animation: movement 4.1s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(504%) translateY(-66%);
            transform: translateX(504%) translateY(-66%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(39) {
  top: 356%;
  left: 278%;
  -webkit-animation: movement 4.5s linear infinite;
          animation: movement 4.5s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(361%) translateY(10%);
            transform: translateX(361%) translateY(10%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(40) {
  top: 165%;
  left: 365%;
  -webkit-animation: movement 4s linear infinite;
          animation: movement 4s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(90%) translateY(50%);
            transform: translateX(90%) translateY(50%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(41) {
  top: 169%;
  left: 292%;
  -webkit-animation: movement 2.4s linear infinite;
          animation: movement 2.4s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(297%) translateY(-72%);
            transform: translateX(297%) translateY(-72%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(42) {
  top: 719%;
  left: 215%;
  -webkit-animation: movement 5.7s linear infinite;
          animation: movement 5.7s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(346%) translateY(94%);
            transform: translateX(346%) translateY(94%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(43) {
  top: 349%;
  left: 177%;
  -webkit-animation: movement 1.8s linear infinite;
          animation: movement 1.8s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(53%) translateY(182%);
            transform: translateX(53%) translateY(182%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(44) {
  top: 753%;
  left: 269%;
  -webkit-animation: movement 4.5s linear infinite;
          animation: movement 4.5s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(274%) translateY(-34%);
            transform: translateX(274%) translateY(-34%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(45) {
  top: 95%;
  left: 275%;
  -webkit-animation: movement 7.2s linear infinite;
          animation: movement 7.2s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(190%) translateY(-80%);
            transform: translateX(190%) translateY(-80%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(46) {
  top: 189%;
  left: 281%;
  -webkit-animation: movement 4.8s linear infinite;
          animation: movement 4.8s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(470%) translateY(10%);
            transform: translateX(470%) translateY(10%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(47) {
  top: 616%;
  left: 52%;
  -webkit-animation: movement 4.2s linear infinite;
          animation: movement 4.2s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(104%) translateY(-84%);
            transform: translateX(104%) translateY(-84%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(48) {
  top: 869%;
  left: 197%;
  -webkit-animation: movement 4.3s linear infinite;
          animation: movement 4.3s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(442%) translateY(154%);
            transform: translateX(442%) translateY(154%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(49) {
  top: 54%;
  left: 54%;
  -webkit-animation: movement 4.9s linear infinite;
          animation: movement 4.9s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(304%) translateY(-88%);
            transform: translateX(304%) translateY(-88%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(50) {
  top: 255%;
  left: 505%;
  -webkit-animation: movement 5s linear infinite;
          animation: movement 5s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(160%) translateY(110%);
            transform: translateX(160%) translateY(110%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(51) {
  top: 413%;
  left: 158%;
  -webkit-animation: movement 6s linear infinite;
          animation: movement 6s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(112%) translateY(-92%);
            transform: translateX(112%) translateY(-92%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(52) {
  top: 837%;
  left: 525%;
  -webkit-animation: movement 5.5s linear infinite;
          animation: movement 5.5s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(790%) translateY(10%);
            transform: translateX(790%) translateY(10%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(53) {
  top: 429%;
  left: 482%;
  -webkit-animation: movement 5.6s linear infinite;
          animation: movement 5.6s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(911%) translateY(10%);
            transform: translateX(911%) translateY(10%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(54) {
  top: 599%;
  left: 59%;
  -webkit-animation: movement 3.1s linear infinite;
          animation: movement 3.1s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(496%) translateY(64%);
            transform: translateX(496%) translateY(64%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(55) {
  top: 115%;
  left: 335%;
  -webkit-animation: movement 6.3s linear infinite;
          animation: movement 6.3s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(285%) translateY(-45%);
            transform: translateX(285%) translateY(-45%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(56) {
  top: 173%;
  left: 341%;
  -webkit-animation: movement 2.4s linear infinite;
          animation: movement 2.4s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(906%) translateY(66%);
            transform: translateX(906%) translateY(66%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(57) {
  top: 233%;
  left: 404%;
  -webkit-animation: movement 2.6s linear infinite;
          animation: movement 2.6s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(238%) translateY(67%);
            transform: translateX(238%) translateY(67%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(58) {
  top: 121%;
  left: 469%;
  -webkit-animation: movement 4s linear infinite;
          animation: movement 4s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(648%) translateY(10%);
            transform: translateX(648%) translateY(10%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(59) {
  top: 772%;
  left: 300%;
  -webkit-animation: movement 5.3s linear infinite;
          animation: movement 5.3s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(541%) translateY(10%);
            transform: translateX(541%) translateY(10%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(60) {
  top: 545%;
  left: 305%;
  -webkit-animation: movement 6s linear infinite;
          animation: movement 6s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(310%) translateY(190%);
            transform: translateX(310%) translateY(190%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(61) {
  top: 615%;
  left: 249%;
  -webkit-animation: movement 6.3s linear infinite;
          animation: movement 6.3s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(132%) translateY(193%);
            transform: translateX(132%) translateY(193%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(62) {
  top: 811%;
  left: 563%;
  -webkit-animation: movement 3.7s linear infinite;
          animation: movement 3.7s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(816%) translateY(72%);
            transform: translateX(816%) translateY(72%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(63) {
  top: 950%;
  left: 446%;
  -webkit-animation: movement 4.5s linear infinite;
          animation: movement 4.5s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(640%) translateY(262%);
            transform: translateX(640%) translateY(262%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(64) {
  top: 1029%;
  left: 69%;
  -webkit-animation: movement 5.5s linear infinite;
          animation: movement 5.5s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(1034%) translateY(202%);
            transform: translateX(1034%) translateY(202%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(65) {
  top: 265%;
  left: 265%;
  -webkit-animation: movement 5.3s linear infinite;
          animation: movement 5.3s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(1180%) translateY(140%);
            transform: translateX(1180%) translateY(140%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(66) {
  top: 401%;
  left: 665%;
  -webkit-animation: movement 4.2s linear infinite;
          animation: movement 4.2s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(538%) translateY(76%);
            transform: translateX(538%) translateY(76%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(67) {
  top: 340%;
  left: 139%;
  -webkit-animation: movement 2.6s linear infinite;
          animation: movement 2.6s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(211%) translateY(-124%);
            transform: translateX(211%) translateY(-124%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(68) {
  top: 753%;
  left: 73%;
  -webkit-animation: movement 4s linear infinite;
          animation: movement 4s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(622%) translateY(78%);
            transform: translateX(622%) translateY(78%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(69) {
  top: 833%;
  left: 419%;
  -webkit-animation: movement 2.4s linear infinite;
          animation: movement 2.4s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(148%) translateY(79%);
            transform: translateX(148%) translateY(79%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(70) {
  top: 705%;
  left: 75%;
  -webkit-animation: movement 5.6s linear infinite;
          animation: movement 5.6s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(780%) translateY(-130%);
            transform: translateX(780%) translateY(-130%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(71) {
  top: 1283%;
  left: 360%;
  -webkit-animation: movement 3.9s linear infinite;
          animation: movement 3.9s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(223%) translateY(81%);
            transform: translateX(223%) translateY(81%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(72) {
  top: 1157%;
  left: 293%;
  -webkit-animation: movement 7.5s linear infinite;
          animation: movement 7.5s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(514%) translateY(10%);
            transform: translateX(514%) translateY(10%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(73) {
  top: 589%;
  left: 735%;
  -webkit-animation: movement 3.1s linear infinite;
          animation: movement 3.1s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(448%) translateY(83%);
            transform: translateX(448%) translateY(83%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(74) {
  top: 79%;
  left: 375%;
  -webkit-animation: movement 3.9s linear infinite;
          animation: movement 3.9s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(750%) translateY(-64%);
            transform: translateX(750%) translateY(-64%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(75) {
  top: 1055%;
  left: 155%;
  -webkit-animation: movement 7s linear infinite;
          animation: movement 7s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(760%) translateY(-140%);
            transform: translateX(760%) translateY(-140%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(76) {
  top: 841%;
  left: 689%;
  -webkit-animation: movement 3.4s linear infinite;
          animation: movement 3.4s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(618%) translateY(86%);
            transform: translateX(618%) translateY(86%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(77) {
  top: 775%;
  left: 775%;
  -webkit-animation: movement 5.1s linear infinite;
          animation: movement 5.1s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(318%) translateY(164%);
            transform: translateX(318%) translateY(164%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(78) {
  top: 317%;
  left: 629%;
  -webkit-animation: movement 5.8s linear infinite;
          animation: movement 5.8s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(1180%) translateY(88%);
            transform: translateX(1180%) translateY(88%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(79) {
  top: 558%;
  left: 400%;
  -webkit-animation: movement 6s linear infinite;
          animation: movement 6s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(1432%) translateY(-227%);
            transform: translateX(1432%) translateY(-227%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(80) {
  top: 85%;
  left: 645%;
  -webkit-animation: movement 7.4s linear infinite;
          animation: movement 7.4s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(90%) translateY(250%);
            transform: translateX(90%) translateY(250%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(81) {
  top: 491%;
  left: 734%;
  -webkit-animation: movement 5s linear infinite;
          animation: movement 5s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(1225%) translateY(-233%);
            transform: translateX(1225%) translateY(-233%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(82) {
  top: 579%;
  left: 251%;
  -webkit-animation: movement 4.1s linear infinite;
          animation: movement 4.1s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(420%) translateY(-72%);
            transform: translateX(420%) translateY(-72%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(83) {
  top: 88%;
  left: 420%;
  -webkit-animation: movement 5s linear infinite;
          animation: movement 5s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(840%) translateY(-156%);
            transform: translateX(840%) translateY(-156%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(84) {
  top: 89%;
  left: 425%;
  -webkit-animation: movement 5.7s linear infinite;
          animation: movement 5.7s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(178%) translateY(-158%);
            transform: translateX(178%) translateY(-158%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(85) {
  top: 685%;
  left: 345%;
  -webkit-animation: movement 0.8s linear infinite;
          animation: movement 0.8s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(265%) translateY(-75%);
            transform: translateX(265%) translateY(-75%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(86) {
  top: 607%;
  left: 263%;
  -webkit-animation: movement 2.5s linear infinite;
          animation: movement 2.5s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(784%) translateY(182%);
            transform: translateX(784%) translateY(182%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(87) {
  top: 1571%;
  left: 266%;
  -webkit-animation: movement 4.5s linear infinite;
          animation: movement 4.5s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(1228%) translateY(97%);
            transform: translateX(1228%) translateY(97%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(88) {
  top: 533%;
  left: 533%;
  -webkit-animation: movement 2.9s linear infinite;
          animation: movement 2.9s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(274%) translateY(-78%);
            transform: translateX(274%) translateY(-78%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(89) {
  top: 450%;
  left: 272%;
  -webkit-animation: movement 6s linear infinite;
          animation: movement 6s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(1256%) translateY(188%);
            transform: translateX(1256%) translateY(188%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(90) {
  top: 1445%;
  left: 275%;
  -webkit-animation: movement 3.8s linear infinite;
          animation: movement 3.8s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(1270%) translateY(-170%);
            transform: translateX(1270%) translateY(-170%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(91) {
  top: 733%;
  left: 824%;
  -webkit-animation: movement 3.9s linear infinite;
          animation: movement 3.9s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(1011%) translateY(192%);
            transform: translateX(1011%) translateY(192%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(92) {
  top: 1661%;
  left: 741%;
  -webkit-animation: movement 5.9s linear infinite;
          animation: movement 5.9s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(378%) translateY(-174%);
            transform: translateX(378%) translateY(-174%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(93) {
  top: 1679%;
  left: 191%;
  -webkit-animation: movement 4.6s linear infinite;
          animation: movement 4.6s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(1126%) translateY(-83%);
            transform: translateX(1126%) translateY(-83%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(94) {
  top: 1321%;
  left: 851%;
  -webkit-animation: movement 5.7s linear infinite;
          animation: movement 5.7s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(668%) translateY(198%);
            transform: translateX(668%) translateY(198%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(95) {
  top: 575%;
  left: 860%;
  -webkit-animation: movement 6.2s linear infinite;
          animation: movement 6.2s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(1435%) translateY(-85%);
            transform: translateX(1435%) translateY(-85%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(96) {
  top: 101%;
  left: 965%;
  -webkit-animation: movement 4.2s linear infinite;
          animation: movement 4.2s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(202%) translateY(106%);
            transform: translateX(202%) translateY(106%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(97) {
  top: 102%;
  left: 393%;
  -webkit-animation: movement 3.7s linear infinite;
          animation: movement 3.7s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(592%) translateY(107%);
            transform: translateX(592%) translateY(107%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(98) {
  top: 1377%;
  left: 887%;
  -webkit-animation: movement 2.8s linear infinite;
          animation: movement 2.8s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(892%) translateY(10%);
            transform: translateX(892%) translateY(10%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(99) {
  top: 104%;
  left: 797%;
  -webkit-animation: movement 2.6s linear infinite;
          animation: movement 2.6s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(1396%) translateY(208%);
            transform: translateX(1396%) translateY(208%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

body {
  background: rgba(0, 0, 0, 0.048);
}

button {
  padding: 3%;
}

.cage {
  position: relative;
  height: 800px;
  width: 1600px;
  background: transparent;
  margin: 240px auto;
  border-radius: 30px;
  cursor: pointer;
}

.cage .cage-shadow {
  height: 800px;
  width: 100%;
  position: absolute;
  top: 0%;
  -webkit-box-shadow: -8px -8px 8px rgba(255, 254, 254, 0.657), 8px 8px 8px rgba(0, 0, 0, 0.15);
          box-shadow: -8px -8px 8px rgba(255, 254, 254, 0.657), 8px 8px 8px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.cage .container {
  position: absolute;
}

.cage .container .ball {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  position: relative;
  -webkit-animation: balling 0.6s linear infinite;
          animation: balling 0.6s linear infinite;
}

.cage .container .shadow {
  height: 80px;
  width: 80px;
  position: absolute;
  top: 0%;
  border-radius: 50%;
  -webkit-box-shadow: 0px 120px 50px #3333331e;
          box-shadow: 0px 120px 50px #3333331e;
  -webkit-animation: shadowing 0.6s linear infinite;
          animation: shadowing 0.6s linear infinite;
}

@-webkit-keyframes balling {
  0% {
    -webkit-transform: translateY(0px) rotate(180deg);
            transform: translateY(0px) rotate(180deg);
  }
  50% {
    -webkit-transform: translateY(100px) rotate(360deg);
            transform: translateY(100px) rotate(360deg);
  }
  100% {
    -webkit-transform: translateY(0px) rotate(540deg);
            transform: translateY(0px) rotate(540deg);
  }
}

@keyframes balling {
  0% {
    -webkit-transform: translateY(0px) rotate(180deg);
            transform: translateY(0px) rotate(180deg);
  }
  50% {
    -webkit-transform: translateY(100px) rotate(360deg);
            transform: translateY(100px) rotate(360deg);
  }
  100% {
    -webkit-transform: translateY(0px) rotate(540deg);
            transform: translateY(0px) rotate(540deg);
  }
}

@-webkit-keyframes shadowing {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
    -webkit-box-shadow: 0px 10px 5px #33333332;
            box-shadow: 0px 10px 5px #33333332;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes shadowing {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
    -webkit-box-shadow: 0px 10px 5px #33333332;
            box-shadow: 0px 10px 5px #33333332;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
/*# sourceMappingURL=style.css.map */