@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
.container:nth-child(1) {
  top: 6%;
  left: 6%;
  -webkit-animation: movement 5.8s linear infinite;
          animation: movement 5.8s linear infinite;
}

@-webkit-keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(16%) translateY(7%);
            transform: translateX(16%) translateY(7%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(16%) translateY(7%);
            transform: translateX(16%) translateY(7%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(2) {
  top: 11%;
  left: 19%;
  -webkit-animation: movement 1.1s linear infinite;
          animation: movement 1.1s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(44%) translateY(18%);
            transform: translateX(44%) translateY(18%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(3) {
  top: 26%;
  left: 29%;
  -webkit-animation: movement 3s linear infinite;
          animation: movement 3s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(19%) translateY(13%);
            transform: translateX(19%) translateY(13%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(4) {
  top: 69%;
  left: 41%;
  -webkit-animation: movement 3.2s linear infinite;
          animation: movement 3.2s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(78%) translateY(22%);
            transform: translateX(78%) translateY(22%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(5) {
  top: 40%;
  left: 45%;
  -webkit-animation: movement 3.1s linear infinite;
          animation: movement 3.1s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(75%) translateY(30%);
            transform: translateX(75%) translateY(30%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(6) {
  top: 59%;
  left: 41%;
  -webkit-animation: movement 1.7s linear infinite;
          animation: movement 1.7s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(88%) translateY(10%);
            transform: translateX(88%) translateY(10%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(7) {
  top: 110%;
  left: 47%;
  -webkit-animation: movement 2.6s linear infinite;
          animation: movement 2.6s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(122%) translateY(-4%);
            transform: translateX(122%) translateY(-4%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(8) {
  top: 69%;
  left: 61%;
  -webkit-animation: movement 7s linear infinite;
          animation: movement 7s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(130%) translateY(2%);
            transform: translateX(130%) translateY(2%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(9) {
  top: 77%;
  left: 68%;
  -webkit-animation: movement 5.4s linear infinite;
          animation: movement 5.4s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(82%) translateY(28%);
            transform: translateX(82%) translateY(28%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(10) {
  top: 155%;
  left: 15%;
  -webkit-animation: movement 6.2s linear infinite;
          animation: movement 6.2s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(110%) translateY(30%);
            transform: translateX(110%) translateY(30%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(11) {
  top: 115%;
  left: 104%;
  -webkit-animation: movement 6.5s linear infinite;
          animation: movement 6.5s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(175%) translateY(-1%);
            transform: translateX(175%) translateY(-1%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(12) {
  top: 221%;
  left: 101%;
  -webkit-animation: movement 3.3s linear infinite;
          animation: movement 3.3s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(46%) translateY(34%);
            transform: translateX(46%) translateY(34%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(13) {
  top: 57%;
  left: 70%;
  -webkit-animation: movement 2.7s linear infinite;
          animation: movement 2.7s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(23%) translateY(-16%);
            transform: translateX(23%) translateY(-16%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(14) {
  top: 117%;
  left: 131%;
  -webkit-animation: movement 3.6s linear infinite;
          animation: movement 3.6s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(80%) translateY(-32%);
            transform: translateX(80%) translateY(-32%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(15) {
  top: 65%;
  left: 35%;
  -webkit-animation: movement 2.5s linear infinite;
          animation: movement 2.5s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(70%) translateY(10%);
            transform: translateX(70%) translateY(10%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(16) {
  top: 53%;
  left: 165%;
  -webkit-animation: movement 4.7s linear infinite;
          animation: movement 4.7s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(90%) translateY(26%);
            transform: translateX(90%) translateY(26%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(17) {
  top: 22%;
  left: 124%;
  -webkit-animation: movement 3.5s linear infinite;
          animation: movement 3.5s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(163%) translateY(27%);
            transform: translateX(163%) translateY(27%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(18) {
  top: 95%;
  left: 41%;
  -webkit-animation: movement 3.4s linear infinite;
          animation: movement 3.4s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(298%) translateY(28%);
            transform: translateX(298%) translateY(28%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(19) {
  top: 347%;
  left: 176%;
  -webkit-animation: movement 6.3s linear infinite;
          animation: movement 6.3s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(333%) translateY(48%);
            transform: translateX(333%) translateY(48%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(20) {
  top: 265%;
  left: 25%;
  -webkit-animation: movement 3.2s linear infinite;
          animation: movement 3.2s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(250%) translateY(-30%);
            transform: translateX(250%) translateY(-30%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(21) {
  top: 299%;
  left: 194%;
  -webkit-animation: movement 4.2s linear infinite;
          animation: movement 4.2s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(199%) translateY(10%);
            transform: translateX(199%) translateY(10%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(22) {
  top: 357%;
  left: 49%;
  -webkit-animation: movement 5.2s linear infinite;
          animation: movement 5.2s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(318%) translateY(-56%);
            transform: translateX(318%) translateY(-56%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(23) {
  top: 212%;
  left: 97%;
  -webkit-animation: movement 6.4s linear infinite;
          animation: movement 6.4s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(401%) translateY(102%);
            transform: translateX(401%) translateY(102%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(24) {
  top: 365%;
  left: 173%;
  -webkit-animation: movement 1.6s linear infinite;
          animation: movement 1.6s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(130%) translateY(10%);
            transform: translateX(130%) translateY(10%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(25) {
  top: 330%;
  left: 255%;
  -webkit-animation: movement 3.3s linear infinite;
          animation: movement 3.3s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(385%) translateY(35%);
            transform: translateX(385%) translateY(35%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(26) {
  top: 83%;
  left: 109%;
  -webkit-animation: movement 5.4s linear infinite;
          animation: movement 5.4s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(36%) translateY(-16%);
            transform: translateX(36%) translateY(-16%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(27) {
  top: 86%;
  left: 113%;
  -webkit-animation: movement 3.2s linear infinite;
          animation: movement 3.2s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(226%) translateY(-71%);
            transform: translateX(226%) translateY(-71%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(28) {
  top: 145%;
  left: 33%;
  -webkit-animation: movement 5.4s linear infinite;
          animation: movement 5.4s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(206%) translateY(94%);
            transform: translateX(206%) translateY(94%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(29) {
  top: 208%;
  left: 63%;
  -webkit-animation: movement 2.6s linear infinite;
          animation: movement 2.6s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(213%) translateY(-48%);
            transform: translateX(213%) translateY(-48%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(30) {
  top: 425%;
  left: 155%;
  -webkit-animation: movement 6s linear infinite;
          animation: movement 6s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(70%) translateY(70%);
            transform: translateX(70%) translateY(70%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(31) {
  top: 36%;
  left: 191%;
  -webkit-animation: movement 2.4s linear infinite;
          animation: movement 2.4s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(475%) translateY(41%);
            transform: translateX(475%) translateY(41%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(32) {
  top: 485%;
  left: 165%;
  -webkit-animation: movement 2.6s linear infinite;
          animation: movement 2.6s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(458%) translateY(-86%);
            transform: translateX(458%) translateY(-86%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(33) {
  top: 599%;
  left: 335%;
  -webkit-animation: movement 3.9s linear infinite;
          animation: movement 3.9s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(76%) translateY(10%);
            transform: translateX(76%) translateY(10%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(34) {
  top: 379%;
  left: 345%;
  -webkit-animation: movement 4.3s linear infinite;
          animation: movement 4.3s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(282%) translateY(-58%);
            transform: translateX(282%) translateY(-58%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(35) {
  top: 110%;
  left: 180%;
  -webkit-animation: movement 2.2s linear infinite;
          animation: movement 2.2s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(185%) translateY(80%);
            transform: translateX(185%) translateY(80%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(36) {
  top: 113%;
  left: 185%;
  -webkit-animation: movement 3.5s linear infinite;
          animation: movement 3.5s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(154%) translateY(118%);
            transform: translateX(154%) translateY(118%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(37) {
  top: 301%;
  left: 190%;
  -webkit-animation: movement 3.9s linear infinite;
          animation: movement 3.9s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(676%) translateY(-27%);
            transform: translateX(676%) translateY(-27%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(38) {
  top: 309%;
  left: 119%;
  -webkit-animation: movement 5.9s linear infinite;
          animation: movement 5.9s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(390%) translateY(-66%);
            transform: translateX(390%) translateY(-66%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(39) {
  top: 278%;
  left: 278%;
  -webkit-animation: movement 4s linear infinite;
          animation: movement 4s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(634%) translateY(88%);
            transform: translateX(634%) translateY(88%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(40) {
  top: 325%;
  left: 365%;
  -webkit-animation: movement 4.9s linear infinite;
          animation: movement 4.9s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(450%) translateY(-70%);
            transform: translateX(450%) translateY(-70%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(41) {
  top: 46%;
  left: 292%;
  -webkit-animation: movement 6s linear infinite;
          animation: movement 6s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(215%) translateY(-31%);
            transform: translateX(215%) translateY(-31%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(42) {
  top: 257%;
  left: 425%;
  -webkit-animation: movement 3.4s linear infinite;
          animation: movement 3.4s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(220%) translateY(10%);
            transform: translateX(220%) translateY(10%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(43) {
  top: 607%;
  left: 349%;
  -webkit-animation: movement 8s linear infinite;
          animation: movement 8s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(698%) translateY(-33%);
            transform: translateX(698%) translateY(-33%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(44) {
  top: 181%;
  left: 269%;
  -webkit-animation: movement 5.5s linear infinite;
          animation: movement 5.5s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(98%) translateY(142%);
            transform: translateX(98%) translateY(142%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(45) {
  top: 365%;
  left: 410%;
  -webkit-animation: movement 6.2s linear infinite;
          animation: movement 6.2s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(280%) translateY(-35%);
            transform: translateX(280%) translateY(-35%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(46) {
  top: 189%;
  left: 51%;
  -webkit-animation: movement 2.1s linear infinite;
          animation: movement 2.1s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(240%) translateY(10%);
            transform: translateX(240%) translateY(10%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(47) {
  top: 804%;
  left: 475%;
  -webkit-animation: movement 4.3s linear infinite;
          animation: movement 4.3s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(574%) translateY(57%);
            transform: translateX(574%) translateY(57%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(48) {
  top: 149%;
  left: 341%;
  -webkit-animation: movement 6s linear infinite;
          animation: movement 6s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(778%) translateY(58%);
            transform: translateX(778%) translateY(58%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(49) {
  top: 54%;
  left: 54%;
  -webkit-animation: movement 2.6s linear infinite;
          animation: movement 2.6s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(892%) translateY(157%);
            transform: translateX(892%) translateY(157%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(50) {
  top: 755%;
  left: 155%;
  -webkit-animation: movement 4.5s linear infinite;
          animation: movement 4.5s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(60%) translateY(-40%);
            transform: translateX(60%) translateY(-40%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(51) {
  top: 413%;
  left: 209%;
  -webkit-animation: movement 2.2s linear infinite;
          animation: movement 2.2s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(571%) translateY(112%);
            transform: translateX(571%) translateY(112%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(52) {
  top: 525%;
  left: 421%;
  -webkit-animation: movement 8s linear infinite;
          animation: movement 8s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(738%) translateY(-146%);
            transform: translateX(738%) translateY(-146%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(53) {
  top: 376%;
  left: 270%;
  -webkit-animation: movement 3.5s linear infinite;
          animation: movement 3.5s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(646%) translateY(-149%);
            transform: translateX(646%) translateY(-149%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(54) {
  top: 599%;
  left: 221%;
  -webkit-animation: movement 2.6s linear infinite;
          animation: movement 2.6s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(766%) translateY(64%);
            transform: translateX(766%) translateY(64%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(55) {
  top: 390%;
  left: 335%;
  -webkit-animation: movement 4.6s linear infinite;
          animation: movement 4.6s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(175%) translateY(-45%);
            transform: translateX(175%) translateY(-45%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(56) {
  top: 509%;
  left: 397%;
  -webkit-animation: movement 3.9s linear infinite;
          animation: movement 3.9s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(66%) translateY(-46%);
            transform: translateX(66%) translateY(-46%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(57) {
  top: 119%;
  left: 404%;
  -webkit-animation: movement 4.1s linear infinite;
          animation: movement 4.1s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(580%) translateY(67%);
            transform: translateX(580%) translateY(67%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(58) {
  top: 875%;
  left: 353%;
  -webkit-animation: movement 1.7s linear infinite;
          animation: movement 1.7s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(822%) translateY(10%);
            transform: translateX(822%) translateY(10%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(59) {
  top: 654%;
  left: 477%;
  -webkit-animation: movement 1.1s linear infinite;
          animation: movement 1.1s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(718%) translateY(10%);
            transform: translateX(718%) translateY(10%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(60) {
  top: 665%;
  left: 425%;
  -webkit-animation: movement 5.8s linear infinite;
          animation: movement 5.8s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(190%) translateY(130%);
            transform: translateX(190%) translateY(130%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(61) {
  top: 1042%;
  left: 371%;
  -webkit-animation: movement 1.1s linear infinite;
          animation: movement 1.1s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(498%) translateY(-173%);
            transform: translateX(498%) translateY(-173%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(62) {
  top: 129%;
  left: 439%;
  -webkit-animation: movement 3.5s linear infinite;
          animation: movement 3.5s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(878%) translateY(10%);
            transform: translateX(878%) translateY(10%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(63) {
  top: 572%;
  left: 509%;
  -webkit-animation: movement 5.2s linear infinite;
          animation: movement 5.2s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(388%) translateY(73%);
            transform: translateX(388%) translateY(73%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(64) {
  top: 453%;
  left: 389%;
  -webkit-animation: movement 5.7s linear infinite;
          animation: movement 5.7s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(778%) translateY(138%);
            transform: translateX(778%) translateY(138%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(65) {
  top: 720%;
  left: 460%;
  -webkit-animation: movement 0.8s linear infinite;
          animation: movement 0.8s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(985%) translateY(75%);
            transform: translateX(985%) translateY(75%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(66) {
  top: 467%;
  left: 203%;
  -webkit-animation: movement 6.2s linear infinite;
          animation: movement 6.2s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(604%) translateY(-188%);
            transform: translateX(604%) translateY(-188%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(67) {
  top: 675%;
  left: 72%;
  -webkit-animation: movement 5.7s linear infinite;
          animation: movement 5.7s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(613%) translateY(-57%);
            transform: translateX(613%) translateY(-57%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(68) {
  top: 481%;
  left: 413%;
  -webkit-animation: movement 5.2s linear infinite;
          animation: movement 5.2s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(146%) translateY(-194%);
            transform: translateX(146%) translateY(-194%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(69) {
  top: 764%;
  left: 695%;
  -webkit-animation: movement 5.1s linear infinite;
          animation: movement 5.1s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(1183%) translateY(-128%);
            transform: translateX(1183%) translateY(-128%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(70) {
  top: 145%;
  left: 635%;
  -webkit-animation: movement 1.4s linear infinite;
          animation: movement 1.4s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(640%) translateY(10%);
            transform: translateX(640%) translateY(10%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(71) {
  top: 644%;
  left: 573%;
  -webkit-animation: movement 3.9s linear infinite;
          animation: movement 3.9s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(1004%) translateY(152%);
            transform: translateX(1004%) translateY(152%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(72) {
  top: 293%;
  left: 437%;
  -webkit-animation: movement 2.3s linear infinite;
          animation: movement 2.3s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(514%) translateY(10%);
            transform: translateX(514%) translateY(10%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(73) {
  top: 224%;
  left: 151%;
  -webkit-animation: movement 6.4s linear infinite;
          animation: movement 6.4s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(813%) translateY(10%);
            transform: translateX(813%) translateY(10%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(74) {
  top: 1041%;
  left: 523%;
  -webkit-animation: movement 3.6s linear infinite;
          animation: movement 3.6s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(1120%) translateY(158%);
            transform: translateX(1120%) translateY(158%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(75) {
  top: 380%;
  left: 755%;
  -webkit-animation: movement 6.2s linear infinite;
          animation: movement 6.2s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(610%) translateY(10%);
            transform: translateX(610%) translateY(10%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(76) {
  top: 1145%;
  left: 309%;
  -webkit-animation: movement 4.8s linear infinite;
          animation: movement 4.8s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(1302%) translateY(238%);
            transform: translateX(1302%) translateY(238%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(77) {
  top: 621%;
  left: 544%;
  -webkit-animation: movement 1.8s linear infinite;
          animation: movement 1.8s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(241%) translateY(318%);
            transform: translateX(241%) translateY(318%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(78) {
  top: 161%;
  left: 629%;
  -webkit-animation: movement 1.6s linear infinite;
          animation: movement 1.6s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(1180%) translateY(-224%);
            transform: translateX(1180%) translateY(-224%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(79) {
  top: 874%;
  left: 479%;
  -webkit-animation: movement 3.7s linear infinite;
          animation: movement 3.7s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(405%) translateY(10%);
            transform: translateX(405%) translateY(10%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(80) {
  top: 1365%;
  left: 725%;
  -webkit-animation: movement 5.9s linear infinite;
          animation: movement 5.9s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(1050%) translateY(10%);
            transform: translateX(1050%) translateY(10%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(81) {
  top: 815%;
  left: 815%;
  -webkit-animation: movement 3.1s linear infinite;
          animation: movement 3.1s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(172%) translateY(-233%);
            transform: translateX(172%) translateY(-233%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(82) {
  top: 333%;
  left: 415%;
  -webkit-animation: movement 2.8s linear infinite;
          animation: movement 2.8s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(256%) translateY(92%);
            transform: translateX(256%) translateY(92%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(83) {
  top: 1250%;
  left: 88%;
  -webkit-animation: movement 7.5s linear infinite;
          animation: movement 7.5s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(591%) translateY(10%);
            transform: translateX(591%) translateY(10%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(84) {
  top: 1265%;
  left: 509%;
  -webkit-animation: movement 3.3s linear infinite;
          animation: movement 3.3s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(598%) translateY(178%);
            transform: translateX(598%) translateY(178%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(85) {
  top: 685%;
  left: 515%;
  -webkit-animation: movement 5.9s linear infinite;
          animation: movement 5.9s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(95%) translateY(-75%);
            transform: translateX(95%) translateY(-75%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(86) {
  top: 779%;
  left: 91%;
  -webkit-animation: movement 1.4s linear infinite;
          animation: movement 1.4s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(96%) translateY(96%);
            transform: translateX(96%) translateY(96%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(87) {
  top: 1049%;
  left: 179%;
  -webkit-animation: movement 3.9s linear infinite;
          animation: movement 3.9s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(1576%) translateY(97%);
            transform: translateX(1576%) translateY(97%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(88) {
  top: 1325%;
  left: 269%;
  -webkit-animation: movement 4.6s linear infinite;
          animation: movement 4.6s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(802%) translateY(186%);
            transform: translateX(802%) translateY(186%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(89) {
  top: 539%;
  left: 539%;
  -webkit-animation: movement 4.7s linear infinite;
          animation: movement 4.7s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(811%) translateY(-79%);
            transform: translateX(811%) translateY(-79%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(90) {
  top: 1355%;
  left: 725%;
  -webkit-animation: movement 3.8s linear infinite;
          animation: movement 3.8s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(640%) translateY(-80%);
            transform: translateX(640%) translateY(-80%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(91) {
  top: 1643%;
  left: 551%;
  -webkit-animation: movement 4.9s linear infinite;
          animation: movement 4.9s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(192%) translateY(192%);
            transform: translateX(192%) translateY(192%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(92) {
  top: 373%;
  left: 189%;
  -webkit-animation: movement 4.7s linear infinite;
          animation: movement 4.7s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(378%) translateY(10%);
            transform: translateX(378%) translateY(10%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(93) {
  top: 1400%;
  left: 377%;
  -webkit-animation: movement 2.3s linear infinite;
          animation: movement 2.3s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(1591%) translateY(-83%);
            transform: translateX(1591%) translateY(-83%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(94) {
  top: 1227%;
  left: 193%;
  -webkit-animation: movement 4.6s linear infinite;
          animation: movement 4.6s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(1514%) translateY(198%);
            transform: translateX(1514%) translateY(198%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(95) {
  top: 765%;
  left: 290%;
  -webkit-animation: movement 6.8s linear infinite;
          animation: movement 6.8s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(1245%) translateY(-85%);
            transform: translateX(1245%) translateY(-85%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(96) {
  top: 773%;
  left: 773%;
  -webkit-animation: movement 4.8s linear infinite;
          animation: movement 4.8s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(1738%) translateY(106%);
            transform: translateX(1738%) translateY(106%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(97) {
  top: 1751%;
  left: 102%;
  -webkit-animation: movement 4.3s linear infinite;
          animation: movement 4.3s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(1756%) translateY(-87%);
            transform: translateX(1756%) translateY(-87%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(98) {
  top: 1671%;
  left: 299%;
  -webkit-animation: movement 3.7s linear infinite;
          animation: movement 3.7s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(1186%) translateY(402%);
            transform: translateX(1186%) translateY(402%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container:nth-child(99) {
  top: 500%;
  left: 698%;
  -webkit-animation: movement 3.4s linear infinite;
          animation: movement 3.4s linear infinite;
}

@keyframes movement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(703%) translateY(109%);
            transform: translateX(703%) translateY(109%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

body {
  background: rgba(0, 0, 0, 0.048);
  font-family: 'Open Sans', sans-serif;
}

body #restart-button {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 100;
  padding: 1% 2%;
  font-size: 2em;
}

body #restart-button.hide {
  display: none;
}

body h1 {
  text-align: center;
  font-size: 3em;
  opacity: 0.3;
}

body h2 {
  text-align: center;
}

form {
  z-index: 5;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 10%;
  font-size: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

form.hide {
  display: none;
}

form label,
form select,
form input,
form button {
  margin-bottom: 20px;
}

form select,
form input,
form button {
  width: 200px;
  padding: 5% 2%;
  font-size: 1em;
  outline: none;
}

form select {
  border: none;
}

.cage {
  position: relative;
  height: 800px;
  width: 1600px;
  background: transparent;
  margin: 240px auto;
  border-radius: 30px;
  cursor: pointer;
}

.cage .container {
  position: absolute;
}

.cage .container .ball {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  position: relative;
  -webkit-animation: balling 0.6s linear infinite;
          animation: balling 0.6s linear infinite;
}

.cage .container .shadow {
  height: 80px;
  width: 80px;
  position: absolute;
  top: 0%;
  border-radius: 50%;
  -webkit-box-shadow: 0px 120px 50px #3333331e;
          box-shadow: 0px 120px 50px #3333331e;
  -webkit-animation: shadowing 0.6s linear infinite;
          animation: shadowing 0.6s linear infinite;
}

@-webkit-keyframes balling {
  0% {
    -webkit-transform: translateY(0px) rotate(180deg);
            transform: translateY(0px) rotate(180deg);
  }
  50% {
    -webkit-transform: translateY(100px) rotate(360deg);
            transform: translateY(100px) rotate(360deg);
  }
  100% {
    -webkit-transform: translateY(0px) rotate(540deg);
            transform: translateY(0px) rotate(540deg);
  }
}

@keyframes balling {
  0% {
    -webkit-transform: translateY(0px) rotate(180deg);
            transform: translateY(0px) rotate(180deg);
  }
  50% {
    -webkit-transform: translateY(100px) rotate(360deg);
            transform: translateY(100px) rotate(360deg);
  }
  100% {
    -webkit-transform: translateY(0px) rotate(540deg);
            transform: translateY(0px) rotate(540deg);
  }
}

@-webkit-keyframes shadowing {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
    -webkit-box-shadow: 0px 10px 5px #33333332;
            box-shadow: 0px 10px 5px #33333332;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes shadowing {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
    -webkit-box-shadow: 0px 10px 5px #33333332;
            box-shadow: 0px 10px 5px #33333332;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
/*# sourceMappingURL=style.css.map */