@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

@for $i from 1 through 99 {
    .container:nth-child(#{$i}) {
        top: (5% + (random(18) * $i));
        left: (5% + (random(10) * $i));
        animation: movement
            (random(10) * 0.5s + random(10) * 0.3s)
            linear
            infinite;

        @keyframes movement {
            0% {
                transform: translateX(0px);
            }
            50% {
                transform: translateX(10% + (random(18) * ($i)))
                    translateY(10% + (random(5) * $i) - random(4) * $i);
            }
            100% {
                transform: translateX(0px);
            }
        }
    }
}
body {
    background: rgba(0, 0, 0, 0.048);
    font-family: 'Open Sans', sans-serif;
    #restart-button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 100;
        padding: 1% 2%;
        font-size: 2em;
        &.hide {
            display: none;
        }
    }

    h1 {
        text-align: center;
        font-size: 5em;
        opacity: 0.3;
    }
    h2 {
        text-align: center;
    }
}
form {
    z-index: 5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10%;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    &.hide {
        display: none;
    }
    label,
    select,
    input,
    button {
        margin-bottom: 20px;
    }
    select,
    input,
    button {
        width: 200px;
        padding: 5% 2%;
        font-size: 1em;
        outline: none;
    }
    select {
        border: none;
    }
}
.cage {
    position: relative;
    height: 800px;
    width: 1600px;
    background: transparent;
    margin: 240px auto;
    border-radius: 30px;
    cursor: pointer;

    .container {
        position: absolute;

        .ball {
            height: 80px;
            width: 80px;
            border-radius: 50%;
            position: relative;
            animation: balling 0.6s linear infinite;
        }
        .shadow {
            height: 80px;
            width: 80px;
            position: absolute;
            top: 0%;
            border-radius: 50%;
            box-shadow: 0px 120px 50px #3333331e;
            animation: shadowing 0.6s linear infinite;
        }
    }
}
@keyframes balling {
    0% {
        transform: translateY(0px) rotate(180deg);
    }
    50% {
        transform: translateY(100px) rotate(360deg);
    }
    100% {
        transform: translateY(0px) rotate(540deg);
    }
}
@keyframes shadowing {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(100px);

        box-shadow: 0px 10px 5px #33333332;
    }
    100% {
        transform: translateY(0px);
    }
}
